// Example Stylus file

body, html
  height 100%
  font-family 'Helvetica Neue'

body
  font normal 1em sans-serif
  background #F3F3E5

// Forms

input[type="text"], input[type="password"]
  border-radius 1.5em
  padding-left 1em
  border-color #ddd
  color #888


button.btn-success
  border-radius 1.5em !important

// Homepage Signup form

.homepage
  margin-top 15em

  #logo

  #spiel
    font-weight 100
    font-size 1.5em
    margin-top 0.9em
    color #888
    letter-spacing 0.5px

form#signup
  width 14em
  padding 1.5em

  input[type="text"]
    width 15em

  input[type="password"]
    width 10em
    border-top-right-radius 0px
    border-bottom-right-radius 0px

  button.btn.btn-success
    width 5em
    border-top-left-radius 0px  !important
    border-bottom-left-radius 0px  !important
