.homepage
  .span8.offset2
    .row
      .span4
        #logo 
          img(src="/images/logo.png")
        #spiel A different Agile tool
      .span4
        form#signup
          .control-group
            .controls
              input(type="text",      name="username",    placeholder="Username")
            .controls
              input(type="text",      name="email",       placeholder="Email")
            .controls
              .input-append
                input(type="password",  name="password",  placeholder="Password")
                button.btn.btn-success(type="submit") Signup